body {
    background-color: gray;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    color: purple;
}

button {
    margin: 15px;
    border: solid 2px purple;
    border-radius: 3px;
    font-size: 25px;
    height: 35px;
    background-color: purple;
}
button:hover {
    background-color: #9932CC;
}

div.buttonsarea {
    margin: auto;
    width: 50%; 
    display: flex;
    justify-content: center;
}

div.commonarea {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --col: black;
} 

div.container {
    margin: auto;
    justify-content: center;
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 400px;
    height: 400px;
    background-color:	#FFFFF0;
    border: 2px solid purple;
}

div#sliderArea {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.active {
    background-color: var(--col);
}

.blackInn {
    background-color: black;
}
 .greyInn {
     background-color: grey;
 }
.red {
    background-color: red;
}
.eraserInn {
    background-color: #929e4e;
}
.resInn {
    background-color:	#FFFFF0;
}

p {
    text-align: center;
    color: purple;
    font-size: 20px;
    padding: 15px;
}

output {
    display: flex;
    padding: 15px;
    color: purple;
    font-size: 20px;
    align-items: center;
}